<%@tag language="java" pageEncoding="UTF-8" %>

<%@taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>


<footer class="footer">
    <div class="container">
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="/">CrowdMusic.com</a>
        </div>
    </div>

</footer>


<%--<!— Footer —>--%>
<%--<!— Footer —>--%>
<%--<footer class="page-footer font-small cyan darken-3">--%>

<%--<!— Footer Elements —>--%>
<%--<div class="container">--%>

<%--<!— Grid row-->--%>
<%--<div class="row">--%>

<%--<!— Grid column —>--%>
<%--<div class="col-md-12 py-5">--%>
<%--<div class="mb-5 flex-center">--%>

<%--<!— Facebook —>--%>
<%--<a class="fb-ic">--%>
<%--<i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>--%>
<%--</a>--%>
<%--<!— Twitter —>--%>
<%--<a class="tw-ic">--%>
<%--<i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>--%>
<%--</a>--%>
<%--<!— Google +-->--%>
<%--<a class="gplus-ic">--%>
<%--<i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>--%>
<%--</a>--%>
<%--<!--Linkedin —>--%>
<%--<a class="li-ic">--%>
<%--<i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>--%>
<%--</a>--%>
<%--<!--Instagram-->--%>
<%--<a class="ins-ic">--%>
<%--<i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>--%>
<%--</a>--%>
<%--<!--Pinterest-->--%>
<%--<a class="pin-ic">--%>
<%--<i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>--%>
<%--</a>--%>
<%--</div>--%>
<%--</div>--%>
<%--<!— Grid column —>--%>

<%--</div>--%>
<%--<!— Grid row-->--%>

<%--</div>--%>
<%--<!— Footer Elements —>--%>

<%--<!— Copyright —>--%>
<%--<div class="footer-copyright text-center py-3">© 2018 Copyright:--%>
<%--<a href="https://mdbootstrap.com/bootstrap-tutorial/"> CrowdMusic.com</a>--%>
<%--</div>--%>
<%--<!— Copyright —>--%>

<%--</footer>--%>
<%--<!— Footer —>--%>