/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');*/

/*---Media Queries --*/
@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: url('/resource/img/bg.jpg') center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

.vertical-center {
    min-height: 90%;
    min-height: 90vh;
    display: flex;
    align-items: center;
}

/* AUDIO PLAYER*/
.audio-player {
    margin-left: auto;
    margin-right: auto;
}

.audio-player i {
    cursor: pointer;
    font-size: 24vw;
}

.audio-player i:hover {
    cursor: pointer;
    opacity: 0.5;
    color: white;
}

.audio-player li.active:before {
    font-family: "Material Icons";
    content: "\e037";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-size: 1.5rem;
}

#next-button {
    font-size: 18vw;
}

@media screen and (min-width: 560px) {
    .audio-player i {
        font-size: 134px;
    }

    #next-button {
        font-size: 100px;
    }
}

#now-playing {
    display: none;
}

.progress {
    overflow: visible;
}

.ui-slider-handle {
    border-radius: 50%;
}

/* TYPEAHEAD*/

.tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    height: 38px;
    font-size: 20px;
    line-height: 30px;
}

.tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0ecf64;

}

.tt-suggestion p {
    margin: 0;
}

.img-wrapper {
    width: 330px;
    height: 330px;
    display: inline-block;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








